* {
    box-sizing: border-box;
  }

body {
  height: 100vh;  
  background-image: url('Blackjack Table.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Bungee Spice;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

#msg {
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px solid rgb(183, 189, 15);
  border-radius: 10%;
  height: 160px;
  min-width: 150px;
}

#bet-controls {
  padding: 5vmin;
}

button {
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-ra
}

button:hover {
  background-color: grey;
  color: white;
}

body > div:first-child {
  margin-right: 40px;
}

